body {
      font-family: sans-serif;
      font-size: 24px;
      margin: 30px;
      background-color: #e0e0e0;
}

input {
   line-height: 24px;
   font-size: 24px;
}

input[type=button] {
   background-color: #cccccc;
   border-radius: 8px;
}

input[type=text] {
   background-color: #ffffff;
   width: 110px;
   border-radius: 4px;
   border: 2px solid gray;
}

input[type=radio] {
   height: 25px;
   width: 25px;
}

.column {
   float: left;
   width: 50%;
}

.left {
   width: 1200 px;
   float: left;
}

.right {
   float: none;
   width: auto;
   overflow: hidden;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

@media screen and (max-width: 1200px) {
   .column {
      width: 100%;
   }
}
